@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@400;600&display=swap');

html * {font-family: Oswald, Georgia, serif}

.calculatorContainer {
    border: 5px solid blue;
       
}

.topRow {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding: 2px;
    height: 3rem;
    width: 100%;
    border: 2px solid red;
    
}

.clear {
    justify-content: flex-start;
    flex-grow: 1;
    text-align: center;
    border: 2px solid gray;
    
}
#answerBox {
    text-align: right;
    border: 2px solid blueviolet;
    align-content: end;
    flex-grow: 4;

}

.buttonRows {
    display: flex;
    flex-grow: 1;
    border: 2px solid green;

}

.numButtons {
    flex-grow: 1;
    border: 2px solid gray;
    text-align: center;
}

.divButton {
    flex-grow: 1;
    border: 2px solid gray;
    text-align: center;
}

.multiplyButton {
    flex-grow: 1;
    border: 2px solid gray;
    text-align: center;
}

.subtractButton {
    flex-grow: 1;
    border: 2px solid gray;
    text-align: center;
}

.equalsButton {
    flex-grow: 1;
    border: 2px solid gray;
    text-align: center;
}

.addButton {
    flex-grow: 1;
    border: 2px solid gray;
    text-align: center;
}